body {
    font-family: sans-serif;
}

div {
    display: block;                 
}

div.sidebar{
    float: right;
    width: 60%;
}

div.leftbar{
    float: left;
    width: 40%;
}

.abstandsbox{
    margin-bottom: 10px;
}

#containerNebenMenu{
    margin-left: 300px;
    min-width: 1024px;
    width: auto;
    white-space: nowrap !important;
}

#title{
    padding-left: 20px;
}

.subtitle{
    padding-left: 30px;
}

#titleOfEachSite{
    margin-left: 300px;
}

/* Wer angemeldet ist: z.B.: Willkommen Endrit */
#loginInformation{
    float: right;
    margin-right: 20px;
}

#abmelden{
    float: right;
}

#header{
    margin-top: 20px;
    vertical-align: top;
    height: 50px;
    width: 100%;
    border-top: inset;
    border-bottom: solid;
    padding-top: 20px;
    margin-bottom: 10px;
}

/* dashboard Boxen */
#dashboard_profile{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    width: 400px;
    height: auto;
}

#dashboard_letzteArbeitsjournale{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    min-width: 100%;
    width: 100%;
    height: auto;
    float: left;
}

#dashboard_neuePosts{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    width: 400px;
    height: auto;
}

/* Das ist die Box in den kleinen Kästchen */
.boxInnerhalb{
    margin: 10px 10px 10px 25px;
    padding: 2px;
    min-height: 100px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

#divMenu {
    border-bottom-color: pink;
    border-style: solid;
    border-width: thin;
    width: 250px;
    height: 100%;
    float: left;
    position: absolute;
}

menu {
    border-color: azure;
    border-width: medium;
    position: absolute;
}

nav {
    list-style: none;
}

    nav ul {
        list-style: none;
        border-color: #b73766;
        border-width: medium;
        height: 28px;
    }

        nav ul li {
            margin-left: -80px;
            list-style: none;
            padding: 0px;
            border-color: #b73766;
            border-width: medium;
            list-style: none;
        }

    nav menu ul li a {
        color: black;
        text-decoration: none;
    }

/* Klasse für <a> tags */
a.menuLinks {
    white-space: nowrap !important;
}

nav li:hover a {
    color: black;
}

nav menu ul li a div{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Link div hover vom Menü */
nav menu ul li a div:hover{
    border-color: #ee2525;
    border-style: solid;
    border-radius: 6px;
}

.linkumrandungDashboard {
    width: 235px;
    margin-top: -10px;
    background-color: white;
    padding-left: 10px;
}

.linkumrandungMeineBeiträge {
    margin: 0px;
    width: 235px;
    background-color: white;
    padding-left: 10px;
}

.linkumrandungMitarbeiter {
    margin: 0px;
    width: 235px;
    background-color: white;
    padding-left: 10px;
}

.linkumrandungProfil {
    margin: 0px;
    width: 235px;
    background-color: white;
    padding-left: 10px;
}

#btnProfilbearbeiten[type=submit]{
    float: right;
    margin-left: 100px;
}