body {
}

.boxInnerhalb .boxInnerhalb{
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 0px;
    min-height: 0px;
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
}

input{
    overflow-wrap: inherit;
}

.boxInnerhalb strong{
    color: orange;
}

#fehlermeldung{
    color: red;
}

#applyChanges{
    float: right;
    margin-right: 17px;
}

#passwordChange{
    float: right;
    margin-right: 20px;
}