body {
}

/* Das sind inputContainer für die Eingabefelder in der Registrierungsseite */
.inputContainer{
    width: 1000px !important;
    height: 20px;
}

/* Das ist der InputContainer des InputContainers */
.containerDesInputContainers{
    min-height: 20px;
    width: 250px;
    float: left;
    margin-left: 100px;
}

.registrierenButtonAlignMitte{
    align-items: center;
}

.labelGleichbreit{
    min-height: 20px;
    min-width: 120px;
    width: 120px;
    float: left;
    margin-left: 100px;
}

.onlyFloatRight{
    float: right;
}