body {
}

strong{
    color: white;
    text-decoration
}

#header {
    box-shadow: 1px 1px 5px 0 black;
}

.linearGradientFromLeft {
    background-color: #ef2525; /* Old browsers */
    background: -moz-linear-gradient(left, #ef2525 0%, #800000 44%, #820000 100%); /* Firefox 3.6-15 */
    background: -webkit-linear-gradient(left, #ef2525 0%,#800000 44%,#820000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ef2525 0%,#800000 44%,#820000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2525', endColorstr='#820000',GradientType=1 ); /* IE6-9 */
}

.linearGraientFromTop{

}
