body {

}

#divMenu{
    border-bottom-color: gainsboro;
    border-style: solid;
    border-width: thin;
    width: 200px;
}

menu {
    border-color: azure;
    border-width: medium;
}

nav {
	width: 100%;
    border-color: #b73766;
    border-width: 200px;
}

nav ul {
	list-style: none;
	border-color: #b73766;
    border-width: medium;
	height: 28px;
}

nav ul li {
	padding: 0px;
	border-color: #b73766;
    border-width: medium;
}

nav ul li a {
	padding: 5px;
	margin: 0;
}

nav li:hover a {
	color: white;
}