body {
    font-family: sans-serif;
}

nav {
    /*
    background-color: black;
    width: 100%;
    border-color: yellow;
    border-style: solid;
    margin-bottom: 120px;
    height: 60px;
    margin-left: 0px;
        */
}

#home{
    background-color: #88BA41;
}

#impressum{
    background-color: #850057;
}

#registrieren{
    background-color: #588BA3;
}

#anmelden{
    background-color: #003F60;
}

nav menu ul{
    list-style: none;
}

nav menu ul li{
    float: left;
}

nav menu ul li a{
    text-decoration: none;
    color: white;
}

.menuItemUmrandung{
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    border-style: solid;
    border-color: #ef2525;
    border-width: 5px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: black;
    margin-top: -16px;
}

#notLoggedInMenu{
    display: table;
    background-color: black;
    width: 100%;
    margin-bottom: 120px;
}

#containerNebenMenu{
    margin-left: 300px;
    width: 1000px;
    white-space: nowrap !important;
}

a.menuLinks {
     display: table;
     padding: 20px 100px;
}

.titelUmrandung {
    padding: 20px;
    border-radius: 5px;
    border: solid;
    border-right-width: 0px;
    border-color: #ef2525;
    background-color: #ef2525;
    margin-top: -16px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#websiteName{
    color: white;
}